*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    background-color: black;
    color: white;
    height: 5em;
    width: 100%;
    margin-top: 0;
    position: fixed;
    z-index: 10;
}
label.logo{
    color: white;
    font-weight: 800;
    padding: 0 30px;
    line-height:3em;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: x-large;
}
nav ul{
    float: right;
}
nav ul li{
    display: inline-block;
    line-height: 3em;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    padding: 5px 4px;
    border-radius: 3px;
}
.class:hover,a.active{
    background-color:violet;
    transition: .5s;
}
.checkbtn{
    color: white;
    font-size: 20px;
    float: right;
    line-height: 3em;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 940px){
    label.logo{
        font-size: 20px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 850px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 5em;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ul{
        left: 0;
        background-color: #000;
        width: 300px;
        height: 500px;
        align-items: center;
    }
}
/* home section styling */
.home{
    background-image: url(juice.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    justify-content: center;
}
@media screen and (width<854px) {
    .home {width: 100%;}
}
.aboutus{
    padding-top: 5em;
    background-color: rgb(255, 248, 240);
}
.a1{
    display: flex;
    text-align: center;
}
.a1a, .a1b, .a1c{
    padding: 6em;
}
.a1 img, .a1b img, .a1c img{
    transition: all 2s;
    animation-name: img;
    animation-duration: 3s;
}
@keyframes img {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1.0);
    }
}
.c2, .c2a{
    display: flex;
    padding-top: 7em;
}
.c2 img, .c2a img{
    transition: all 2s;
    animation-name: images;
    animation-duration: 3s;
}
@keyframes images {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1.0);
    }
}
.c2a{
    padding-left: 10em;
    padding-bottom: 7em;
}
.r1{
    display: flex;
    justify-content: center;
    gap: 3em;
    padding-bottom: 7em;
}
.c4{
    background-image: url(bg1.jpg);
    width: 100%;
    padding: 10em;
    text-align: center;
}
.m1{
    animation-name: img2;
    animation-duration: 5s;
    animation-fill-mode: forwards ;
    animation-timing-function: 2s ease;  
}
@keyframes img2 {
    0%{
    transform: translateY(0);
    transform: translateY(0);
}
100%{
    transform: translateY(-100px);
    transform: translateY(-100px);
}
}
@keyframes img2 {
0%{
    transform: translateY(0);
    transform: translateY(0);
}
100% {
    transform: translateY(-100px);
    transform: translateY(-100px);
}
}

.m1{
    width: 100%;
    background-color: white;
    /* border-radius: 1em; */
    padding-top: 5em;
    padding-bottom: 8em;
}
.m2{
    display: flex;
    padding-top: 4em;
    justify-content: center;
    /* gap: 8em; */
}
.c6{
    text-align: center;
    padding: 2em;
}
.c7{
    background-image: url(bg4.jpg);
    width: 100%;
    padding: 10em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.m3{
    width: 80%;
    height: 70vh;
    background-color: rgb(241, 239, 236);
    border-radius: 1em;
    padding-top: 5em;
    padding-bottom: 8em;
}
.m3{
    animation-name: img3;
    animation-duration: 5s;
    animation-fill-mode: forwards ;
    animation-timing-function:  2s ease;      
}
@keyframes img3 {
    0%{
    transform: translateY(0);
    transform: translateY(0);
}
100%{
    transform: translateY(-100px);
    transform: translateY(-100px);
}
}
@keyframes img3 {
0%{
    transform: translateY(0);
    transform: translateY(0);
}
100% {
    transform: translateY(-100px);
    transform: translateY(-100px);
}
}
.m5{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2em;
}
.banner{
    height: 100vh;
    align-items: center;
    color: #fff;
    padding-bottom: 20px;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.form-r1{
    display: flex;
    width: 90%;
    margin: 0 auto;
    gap: 2em;
}
form select, form input{
    display: block;
    width: 100%;
    margin: 15px 15px;
    padding: 3px;
    font-size: 15px;
    font-family: 'poppins', sans-serif;
    outline: none;
    border: none;
    border-bottom: 0.7px solid rgb(86, 85, 85);
    font-weight: 300;
}
.carousel-item{
    width: 100%;
    height: 100vh;
    text-align: center;
    align-items: center;
}   
.btn:hover{
    background-color: grey;
}
.c8{
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding-top: 4em;
    padding-left: 10em;
}
.card {
    background-color: #1C2833;
    color: #FFFFFF;
    border: none;
    transition: transform 0.2s;
    display: flex;
    text-align: center;
}
.card:hover {
    transform: scale(1.08);
}
.card-title {
    color: orange;
}
.card-text {
    color: #CCCCCC;
    text-align: center;
}
.text{
    text-decoration:none;
    color:orange;
}
.col-md-2{
    width:20%;
    height:40%;
    text-align: center;
}
footer{
    background-color: #111;
    height: 400px;
}
.footercontainer{
    width: 100%;
    padding: 70px 30px 10px;
}
.socialionc{
    display: flex;
    justify-content: center;
}
.socialionc a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialionc a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}
.socialionc a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialionc a:hover i{
    color: white;
    transition: 0.5s;
}
.footernav{
    margin: 30px 0;
}
.footernav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footernav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    list-style-type: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.footernav ul li a:hover{
    opacity: 1;
}
.footerbottom{
    background-color: #000;
    padding: 10px;
    text-align: center;
    width: 100%;
}
.footerbottom p{
    color: white;
}
.cont{
    background-color: aliceblue;
}
.carousel-inner{
    padding-top: 3em;
    text-align: center;
    color: rgb(255, 255, 255);
}
.container{
    width: 100vw;
    height: 70vh;
    background-image: url(image.avif);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
